.project {
  display: grid;

  grid-template-rows: repeat(auto-fill, minmax(15rem, 1fr));
  grid-template-columns: repeat(3, minmax(25rem, 2fr));
  /* background-color: #f2efe9; */
  place-content: center;
  margin: 1.25rem;
  gap: 3.125rem;
}

.project div {
  place-content: center;
  text-align: center;

  color: #61dafb;
  /* position: relative; */
  margin: 0.625rem;

  img {
    padding: 2%;
    max-width: 18.75rem;
    min-width: 15rem;
  }

  h2 {
    font-size: 1.5rem;
    font-weight: 700;
  }

  h3 {
    font-size: 1.2rem;
    font-weight: 700;
  }

  p {
    font-size: 1rem;
    font-weight: 400;
  }
}

/* Media queries para diferentes tamaños de pantalla */
@media (max-width: 1200px) {
  .tec-icon {
  }
}

@media (max-width: 1024px) {
  .project {
    grid-template-rows: repeat(auto-fill, minmax(15rem, 1fr));
    grid-template-columns: repeat(2, minmax(30rem, 2fr));
  }
}

@media (max-width: 920px) {
  .project {
    grid-template-columns: repeat(2, minmax(15rem, 1fr));

    div {
      margin: 0;
    }
  }
}

@media (max-width: 768px) {
  .project {
    grid-template-columns: repeat(1, minmax(15rem, 1fr));
  }
}

@media (max-width: 480px) {
  .project {
    grid-template-columns: repeat(1, minmax(13rem, 2fr));
  }
}

@media (max-width: 360px) {
  .project {
    grid-template-columns: repeat(1, minmax(10rem, 1fr));
  }
}
