@charset "UTF-8";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Cormorant Garamond", serif;
  src: url(../assets/fonts/Cormorant_Garamond/CormorantGaramond-Regular.ttf);
}

.header {
  display: grid;
  grid-auto-rows: min-content;
  margin-top: 0;
}

/* .background {
  display: grid;

  width: 100%;
  background-size: contain;
  opacity: 0.3;
} */

.container {
  position: relative; /* Asegúrate de que el contenedor tenga una posición relativa */
  width: 100%;
  height: 100vh; /* Ajusta la altura del contenedor según sea necesario */
}
.background {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Asegúrate de que la imagen de fondo cubra todo el contenedor */
}

.overlay {
  position: absolute; /* Coloca el overlay en una posición absoluta dentro del contenedor */
  top: 50%; /* Centra verticalmente el overlay */
  left: 50%; /* Centra horizontalmente el overlay */
  transform: translate(
    -50%,
    -50%
  ); /* Ajusta la posición para centrar el overlay */
  text-align: center; /* Centra el contenido del overlay */
}

.avatar {
  max-width: 23.75rem;
  min-width: 10rem;
  padding: 2%;
  filter: drop-shadow(0 0 2em #61dafbaa);
}

.titulo {
  font-size: 1.5rem;
  color: white; /* Ajusta el color del texto según sea necesario */
}

/* Media queries para diferentes tamaños de pantalla */
@media (max-width: 1200px) {
  .titulo {
    font-size: 1.75rem; /* Ajusta el tamaño del texto */
  }
}

@media (max-width: 768px) {
  .titulo {
    font-size: 1.5rem; /* Ajusta el tamaño del texto */
  }
}

@media (max-width: 480px) {
  .titulo {
    font-size: 1.25rem; /* Ajusta el tamaño del texto */
  }
}

@media (max-width: 320px) {
  .titulo {
    font-size: 1rem; /* Ajusta el tamaño del texto */
  }
}
